<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Login | AB</title>
</head>
<body class="text-stone-800 antialiased">
    <nav id="navbar" class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3">
    </nav>
    <main>
        <section class="absolute w-full h-full">
            <div class="absolute top-0 w-full h-full bg-stone-800" style="background-image: url(/images/register_bg_2.png); background-size: 100%; background-repeat: no-repeat;"></div>
            <div class="container mx-auto px-4 h-full">
                <div class="flex content-center items-center justify-center h-full">
                    <div class="w-full lg:w-4/12 px-4">
                        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-stone-700 border-0">
                            <div class="rounded-t mb-0 px-6 py-6">
                                <div class="text-center mb-3">
                                    <h6 class="text-gray-300 text-sm font-bold">
                                        Sign in with
                                    </h6>
                                </div>
                                <div class="btn-wrapper text-center">
                                    <button class="bg-stone-600 active:bg-gray-100 text-gray-100 px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs" type="button" style="transition: all 0.15s ease 0s;">
                                        <img alt="..." class="w-5 mr-1" src="/images/google.svg" />Google
                                    </button>
                                </div>
                                <hr class="mt-6 border-b-1 border-stone-400" />
                            </div>
                            <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                                <div class="text-gray-300 text-center mb-3 font-bold">
                                    <small>Or sign in with credentials</small>
                                </div>
                                <form id="form">
                                    <div class="flex flex-col gap-2">
                                        <label for="name-input" class="font-bold text-white">
                                            Email</label>
                                        <input 
                                        type="text" 
                                        id="email-input" 
                                        name="email-input" 
                                        autocomplete="off" 
                                        placeholder="example@gmail.com"
                                        class="rounded-lg p-2 focus:outline-cyan-950 bg-stone-700 text-white"
                                        >
                                        <p  class="text-sm text-red-800"></p>
                                </div>
                                <div class="flex flex-col gap-2">
                                        <label for="name-input" class="font-bold text-white">
                                            Contraseña</label>
                                        <input 
                                        type="password" 
                                        id="password-input" 
                                        name="password-input" 
                                        autocomplete="off" 
                                        class="rounded-lg p-2 focus:outline-cyan-950 bg-stone-700 text-white"
                                        >
                                        <p id="error-text" class="text-sm text-red-800">
                                       
                                        </p>
                                </div>
                                    <div>
                                        <label class="inline-flex items-center cursor-pointer">
                                            <input id="customCheckLogin" type="checkbox" class="form-checkbox border-0 rounded text-gray-800 ml-1 w-5 h-5" style="transition: all 0.15s ease 0s;" />
                                            <span class="ml-2 text-sm font-semibold text-gray-300">Remember me</span>
                                        </label>
                                    </div>
                                    <div class="text-center mt-6">
                                        <button id="form-btn" disabled class="bg-stone-950 text-white font-bold rounded-lg p-4 h-10 flex items-center content-center flex-grow justify-center w-full hover:bg-stone-800 transition ease-in-out text-center disabled:opacity-50 disabled:cursor-not-allowed">Iniciar sesion</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="absolute w-full bottom-0 bg-stone-900 pb-6">
                <div class="container mx-auto px-4">
                    <hr class="mb-6 border-b-1 border-stone-700" />
                    <div class="flex flex-wrap items-center md:justify-between justify-center">
                        <div class="w-full md:w-4/12 px-4">
                            <div class="text-base text-white font-semibold py-1">
                                <a href="/signup/" class="bg-gray-300 hover:bg-gray-500 hover:text-gray-200 rounded-lg w-10 h-12 p-4 font-bold text-black">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
    </main>
</body>
<script src="/Components/nav.js"></script>
<script src="index.js"></script>
</html>